.signature {
  color: grey;
  font-size: 15px;
}

#current {
  border: 1px solid #dadde1;
  border-radius: 10px;
}
body {
  text-align: center;
  font-family: "Amatic SC", cursive;
}

.weatherapp {
  box-shadow: rgb(37 39 89 / 8%) 0px 8px 8px 0;
  border-radius: 10px;
  border: 1px solid #dadde1;
  max-width: 700px;
  margin: 20px auto;
  background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
}

form {
  margin: 40px auto 2px;
}

.searchBar {
  margin-left: 28%;
  margin-right: 0;
}

.Go {
  margin-right: 30%;
  margin-left: 0;
  padding: 0;
}

input[type="submit" i] {
  border: 1px solid #ced4da;
  font-size: 22px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

#cityName {
  font-size: 55px;
  margin: auto;
  color: #5585b5;
}

.futureWeatherForecast {
  font-size: 30px;
}

.UmbrellaOrNot {
  font-size: 20px;
  padding: 20px 0px 0px 0px;
}

.justify-content-center {
  text-align: center;
  margin: 25px auto;
  line-height: 35px;
  font-weight: 400;
}

#today,
#time {
  font-size: 25px;
}

#temp {
  font-size: 50px;
  color: #5585b5;
}

#celsius-link,
#fahrenheit-link {
  text-decoration: none;
}

.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
